# Development and testing requirements
pylint
Graphviz
twine
codecov
pytest
pytest-rerunfailures
pytest-cov
black
git+https://github.com/twisted/pydoctor.git
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability