# Development and testing requirements
pylint
Graphviz
twine
codecov
pytest
pytest-rerunfailures
pytest-cov
black
git+https://github.com/twisted/pydoctor.git
requests>=2.32.0 # not directly required, pinned by Snyk to avoid a vulnerability